body {
  margin-top:20px;
}
#simon {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-color: black;
    margin: 0px auto;
    padding: 10px;
}

.wrapper {
    position: relative;
    top: 4px;
    left: 4px;
}

.controls {
    height: 200px;
    width: 200px;
    border: 15px solid black;
    border-radius: 50%;
    background-color: black;
    margin: 0px auto;
    position: relative;
    top: -350px;
    text-align: center;
    color:white;
}

#top {
    display: flex;
}

#bottom {
    display: flex;
}

.button {
    height: 200px;
    width: 200px;
    border: 20px solid black;
    cursor:pointer;
}

#blue{ 
    background: #3454D1;
    border-radius: 100% 0 0 0;
    right: 50%;
    margin: 0px 5px 5px 0px;
}

#red { 
    background: #FF206E; 
    left: 50%;
    border-radius: 0 100% 0 0;
    margin: 0px 0px 5px 5px;
}

#yellow {
    background: #FBFF3D;
    left: 50%;
    border-radius: 0 0 0 100%;
    margin: 5px 5px 0px 0px;
}

#green {
   background: #1abc9c;
    left: 50%;
    border-radius: 0 0 100% 0;
    margin: 5px 0px 0px 5px;
}
.btns {
  display: inline-block;
  padding:20px;
}
#level {
  background: #4c0000;
  color:red;
  border-radius:50%;
  border: 1px solid #3c0000;
  font-size: 1em;
  margin:auto;
  padding:1em;
  width: 10%;
  height: 10%;
  text-align: center;
}
.ctrl-btn {
  display: inline-block;
  margin-left:1em;
  box-shadow:rgba(30, 30, 30, 0.7);
}

button {
  border-radius: 50%;
  outline:none;
  cursor: pointer;
  width:20px;
  height:20px;
}
#start {
  background:red;
}
#reset {
  background:yellow;
}
#strict {
  border-radius: 20%;
  width:50px;
  height:30px;
  background:#4ca6ff;
  color:white;
  
}
label {
  display:block;
}

.wrap {
  padding: 0.4em 0 0 0;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size: 4em;
  white-space: nowrap;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.7);
  -moz-transform: skew(0, -6.7deg);
  -ms-transform: skew(0, -6.7deg);
  -webkit-transform: skew(0, -6.7deg);
  transform: skew(0, -6.7deg);
  -moz-transition-property: font-size;
  -o-transition-property: font-size;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

@media screen and (max-width: 50em) {
  h1 {
    font-size: 4em;
  }
}
.flash {
  opacity: .5;
}
