body {
  background: #222527; 
  color:white;
}
.navbar {
  background: transparent;
}
#controls{
  margin-left: 75%;  
}
.ctrl-btn {
  border:none;
}
#level {
  color:white;
  font-size:20px;
  padding: 4px 0px 0px 9px;
  height: 40px;
  width: 40px;
  border: 1px solid;
  border-radius: 50%;
  margin: 1% 0 0 1%;
}
#box {
   text-align: center;
   margin: auto;
   padding: 5% 0;
}
 .tv-parent {
  margin: 0.4%;  
}
.tv-btn {
   background: black;
 -webkit-box-shadow: 1px 0px 1px #ccc;
 -moz-box-shadow: 1px 0px 1px #ccc;
  box-shadow: 1px 0px 1px #ccc; 
  padding: 20px 30px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.tv-btn:focus {
  background: black;
  outline: none;
 -webkit-box-shadow: inset 0px 0px 4px #ccc;
 -moz-box-shadow: inset 0px 0px 4px #ccc;
  box-shadow: inset 0px 0px 4px #ccc;
}
.flash {
   background-color: #fff;
  box-shadow: 0px 0px 40px 20px #0ff;  
  -webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
/* Pulse class and keyframe animation */
.pulseit{
	-webkit-animation: pulse linear .5s infinite;
	animation: pulse linear .5s infinite;
  
}
.old-tv-screen {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 200px;
  height: 150px;
  position: relative;
  -webkit-border-radius: 50% / 10%;
  border-radius: 50% / 10%;
  text-align: center;
  text-indent: 0.1em;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
}

.old-tv-screen::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  content: "";
  top: 10%;
  right: -5%;
  bottom: 10%;
  left: -5%;
  border: none;
  -webkit-border-radius: 5% / 50%;
  border-radius: 5% / 50%;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #1abc9c;
  text-shadow: none;
}
#red, #red::before {
  background: #FF206E;  
}
#blue, #blue::before {
  background: #3454D1;
}

#yellow, #yellow::before {
  background: #FBFF3D;
}
